/* body styling is here */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
}

/* calculator styling here */
.CALCULATOR {
  padding: 17px;
  width: 240px;
  background:black;
  border-radius: 25px;
  box-shadow: 0 5px 30px white;
}

/* buttons styling is here */
.buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

/* equalsto button styling is here */
.equals-to {
  background: orange;
  color: white;
  border-radius: 25px;
}

.equals-to:hover {
  background: transparent;
  color: white;
}

/* display styling is here */
#dplay {
  width: 100%;
  height: 70px;
  text-align: right;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 5px;
  border: none;
  color: white;
  background:black;
  border-radius: 15px;
}

.btn {
  background:orange;
  color: white;
  border-radius: 30px;
  font-weight: 600

}

.btn:hover {
  background: rgba(255, 255, 255, 0.267);
  color: white;
}
/* button styling is here */

button {
  height: 45px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.096);
}

button:hover {
  background: rgba(255, 255, 255, 0.274);
  color: white;
}

/* <----reponsive desin styling----> */

@media (max-width: 400px) {
  #display {
    font-size: 24px;
    padding: 16px;
    width: 220px;
    height: 40px;
  }
}